{% extends 'main/base.html' %}
{% load static %}#
{% load hosts %}
{% block title %}Profile - Viswamedha Nalabotu{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'myauth/assets/css/profile.css' %}">
{% endblock styles %}
{% block scripts %}
{% endblock scripts %}
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <a href="{% host_url 'logout' host 'auth' %}" class="logout-btn">Logout</a>
    <div class="container">
        <div class="left-form">
            <div class="card">
                <h1 class="card-title">Profile Edit Form</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email_address">Email Address:</label>
                        {{ form.email_address }}
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of Birth:</label>
                        {{ form.date_of_birth }}
                    </div>
                    <button type="submit" class="btn-primary">Update Profile</button>
                </form>
            </div>
        </div>
        {% if request.user.student or request.user.is_staff %}
        <div class="right-form">
            <div class="card">
                <h1 class="card-title">Student Form</h1>
                <a href="{% host_url 'calendar' host 'tutor' %}" class="btn-primary">Go to Calendar</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock body %}
