{% extends 'main/base.html' %}
{% load static %}
{% block title %}Reset Password - Viswamedha Nalabotu{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'myauth/assets/css/reset-password.css' %}">
{% endblock styles %}
{% block scripts %}
{% endblock scripts %}
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container">
    <div class="card">
      <h1 class="card-title">Reset Password</h1>
      <form method="POST">
        {% csrf_token %}
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
        <button type="submit" class="btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
{% endblock body %}