body {
    background: linear-gradient(to right, #ade8f4, #fe496e);
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    text-align: center;
  }
  
  .card-title {
    font-size: 28px;
    font-weight: bold;
    color: #fe496e;
    margin-bottom: 20px;
  }
  
  .card-text {
    font-size: 16px;
    color: #333333;
    margin-bottom: 0;
  }