{% load static %}
<div class="color-changer">
    <div class="color-panel">
        <img src="{% static 'main/assets/img/gear.png'%}" alt="">
    </div>
    <div class="color-selector">
        <div class="heading">Custom Colors</div>
        <div class="colors">
            <ul>
                <li>
                    <a href="#" class="color-red" title="color-red"></a>
                </li>
                <li>
                    <a href="#" class="color-purple" title="color-purple"></a>
                </li>
                <li>
                    <a href="#" class="color-malt" title="color-malt"></a>
                </li>
                <li>
                    <a href="#" class="color-green" title="color-green"></a>
                </li>
                <li>
                    <a href="#" class="color-blue" title="color-blue"></a>
                </li>
                <li>
                    <a href="#" class="color-orange" title="color-orange"></a>
                </li>
            </ul>
        </div>
    </div>
</div>