{% extends 'main/base.html' %}
{% load static %}
{% load hosts %}
{% block title %}Viswamedha Nalabotu{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'main/assets/css/home.css' %}">
{% endblock styles %}
{% block scripts %}
    <script src="{% static 'main/assets/js/home.js' %}" defer></script>
{% endblock scripts %}
{% block head %}
    <!-- Hey tech noob, since you're inspecting, take a look around for any easter eggs :)
    While this site is semi-secure, it is not flawless, so please do not crash this site, it will make me sad. -->
{% endblock head %}
{% block body %}
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="{% static 'main/assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="">Viswamedha Nalabotu</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="{{ instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="{{ linkedin }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="{{ github }}" class="github"><i class="bx bxl-github"></i></a>
                </div>
            </div>
    
            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i><span>Home</span></a></li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                    <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                    <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
                </ul>
            </nav>

        </div>
    </header>

    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
        <h1>Viswamedha Nalabotu</h1>
        <p>I'm a <span class="typed" data-typed-items="Developer, Freelancer, Analyst"></span></p>
        </div>
    </section>

    <main id="main">
        <section id="about" class="about">
            <div class="container">
        
                <div class="section-title">
                    <h2>About</h2>
                    <p>
                        Hi, welcome to my site. This space is dedicated for anyone wishing (pun intended) to know more about me and 
                        what I do outside of academic and social events. This includes personal projects, group projects, theories and 
                        ideas for discussion, tutorials, fixes for annoying technical issues and much more.
                    </p>
                </div>
        
                <div class="row">

                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="{% static 'main/assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>Web Developer &amp; Hacker</h3>
                        <p class="fst-italic">
                            Under observation, we act less free, which means we effectively are less free. - Edward Snowden
                        </p>

                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>You're on it </span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Birmingham, United Kingdom</span></li>
                                </ul>
                            </div>

                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Computer Science Bachelors</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>nalabotuviswamedha@gmail.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                                </ul>
                            </div>
                        </div>
                        
                        <p>
                            Digital safety is one of the most needed but also the most neglected areas on the internet today, especially 
                            with the rise of AI and more transparent technologies, enabling instant access to anyones personal data. If you 
                            would like to get in touch, please use the form at the bottom of this page. 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="facts" class="facts">
            <div class="container">
    
                <div class="section-title">
                    <h2>Facts</h2>
                    <p>
                        I typically work on a project for a couple days at a time, before switching to another, till completion. I prefer working on them in the evenings.
                    </p>
                </div>
    
                <div class="row no-gutters">
        
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="3" class="purecounter"></span>
                            <p><strong>Clients Served</strong> with personalised requests</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="13" data-purecounter-duration="3" class="purecounter"></span>
                            <p><strong>Projects</strong> currently working on</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="count-box">
                            <i class="bi bi-calendar4-week"></i>
                            <span data-purecounter-start="0" data-purecounter-end="53" data-purecounter-duration="3" class="purecounter"></span>
                            <p><strong>Total Projects</strong> completed/shelved</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="count-box">
                            <i class="bi bi-people"></i>
                            <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="3" class="purecounter"></span>
                            <p><strong>New Connection(s)</strong></p>
                        </div>
                    </div>
        
                </div>
            </div>
        </section>

        <section id="skills" class="skills section-bg">
            <div class="container">
        
                <div class="section-title">
                    <h2>Skills</h2>
                    <p>Some skills highlighted here, marked with various degrees of mastery and confidence.</p>
                </div>
        
                <div class="row skills-content">
        
                    <div class="col-lg-6" data-aos="fade-up">
        
                    <div class="progress">
                        <span class="skill">Python <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    <div class="progress">
                        <span class="skill">Java <i class="val">40%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">50%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    </div>
        
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        
                    <div class="progress">
                        <span class="skill">Web Development <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    <div class="progress">
                        <span class="skill">Network <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    <div class="progress">
                        <span class="skill">SQL <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    </div>
        
                </div>
            </div>
        </section>

        <section id="resume" class="resume">
            <div class="container">
    
                <div class="section-title">
                    <h2>Resume</h2>
                    <p>This is a brief summary of my past education and my qualifications, though it does not get updated frequently.</p>
                </div>
        
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Summary</h3>
                        <div class="resume-item pb-0">
                            <h4>Viswamedha Nalabotu</h4>
                            <p><em>Avid enthusiast in various fields of Computer Science, including Artifical Intelligence, Ethical Hacking &amp; Web Development</em></p>
                            <ul>
                            <li>United Kingdom</li>
                            <li>nalabotuviswamedha@gmail.com</li>
                            </ul>
                        </div>
                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Bachelors in AI &amp; Computer Science FT</h4>
                            <h5>2022 - Present</h5>
                            <p><em>University of Birmingham, Birmingham, UK</em></p>
                            <p>Currently studying here with a 2:1 predicted</p>
                        </div>
                        <div class="resume-item">
                            <h4>GCSE's &amp; A-Levels</h4>
                            <h5>2015 - 2022</h5>
                            <p><em>King Edward VI Camphill School for Boys, Birmingham, UK</em></p>
                            <p>Completed GCSEs and A-Levels here to a high standard, including an Extended Project Qualification</p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">(Professional) Experience</h3>
                        <div class="resume-item">
                            <h4>Web Developer</h4>
                            <h5>2019 - Present</h5>
                            <p><em>Digital</em></p>
                            <ul>
                                <li>Completed various projects for different use cases with thorough testing</li>
                                <li>Worked as a team, within a group, splitting tasks between back end and front end </li>
                                <li>Written up accurate timelines and reports to ensure quality control and organisation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="portfolio section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>Coming soon...</p>
                </div>                
        </section>

        <section id="services" class="services">
            <div class="container">
    
                <div class="section-title">
                    <h2>Services</h2>
                    <p>If you require any of the services below, but need confirmation regarding time and cost, use the form to get in touch. The ones listed cover frequent types of requests that I have received in the past, but feel free to request anything else outside those mentioned, I'll see what I can do for you!</p>
                </div>
        
                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-people"></i></div>
                    <h4 class="title"><a href="#">Personal Webpages</a></h4>
                    <p class="description">If you need to showcase yourself or a brand, this option could be for you. Time required ranges from a week to a month, depending on scale. Hosting aid can also be provided, with extra charges.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-phone"></i></div>
                    <h4 class="title"><a href="#">Social Bots</a></h4>
                    <p class="description">Need to automate or present a "person" on social media, with a frequent/active presence? I can provide bots for some platforms, just leave a message to explore options.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="#">Productivity Desktop Apps</a></h4>
                    <p class="description">This varies depending on purpose, but custom applications are doable within a couple weeks or so. Specifications or direct communication must be available from the beginning!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="{% host_url 'tutor' host 'tutor' %}">Examination Preparation/Tuition</a></h4>
                    <p class="description">Please get in touch for specific needs and requirements with board information, to get a quote and slot for lessons (typically online)</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href="#">Reconnaissance</a></h4>
                    <p class="description">Need to find out any information or data regarding anyone? Warning: requests may take an unspecified amount of time and costs vary significantly.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="#">Data analysis</a></h4>
                    <p class="description">Have a lot of data collected but don't know what to do based on it? Options include cleaning data, generating reports, providing predictions and more.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="container">
        
                <div class="section-title">
                    <h2>Contact</h2>
                    <p>
                        Feel free to use the form below to get in touch. While my email is posted, it may end up in spam, whereas the form will notify me and will 
                        definitely be read at some point.
                    </p>
                </div>
        
                <div class="row" data-aos="fade-in">
        
                    <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Birmingham, United Kingdom</p>
                        </div>
        
                        <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>nalabotuviswamedha@gmail.com</p>
                        </div>
        
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155456.01736019185!2d-2.028436739666769!3d52.4972346739115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870942d1b417173%3A0xca81fef0aeee7998!2sBirmingham!5e0!3m2!1sen!2suk!4v1683382144133!5m2!1sen!2suk" frameborder="0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
        
                    </div>
        
                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form role="form" class="php-email-form" method="post" id="contactform">
                        <div class="row">
                            <div class="form-group col-md-6">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.subject.label_tag }}
                            {{ form.subject }}
                        </div>
                        <div class="form-group">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                        </div>
                        <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="button" id="sendmessage" class="btn btn-primary">Send Message</button></div>
                    </form>
                    </div>
        
                </div>
        
                </div>
        </section>

    </main>

    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>NV-9</span></strong>
            </div>
            <div class="credits">
                Privacy Policy <a href="/privacy/">Here</a>
            </div>
        </div>
    </footer>
{% endblock body %}