{% extends 'mytutor/base.html' %}
{% load static %}
{% block title %}Calendar - Viswamedha Nalabotu{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock scripts %}
{% block body %}
    <div class="container mt-5">
        <div class="row mb-5">
            {% for booking in bookings %}
                {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row mb-5">
                {% endif %}
                <div class="col-md-4 d-inline"> 
                    <div class="card">
                        <div class="card-body">
                            <p>{{ booking.student }}</p>
                            <button class="btn btn-primary btn-submit" data-booking-id="{{ booking.id }}">Submit</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
    var csrftoken = getCookie('csrftoken');
    
    
        $(".btn-submit").click(function () {
            var bookingId = $(this).data("booking-id");

            $.ajax({
                type: "POST",
                url: "", 
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                data: {
                    booking_id: bookingId,
                },
                success: function (data) {
                    console.log("Data submitted successfully: " + data);
                    $(this).closest(".col-md-4").remove();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Error: " + errorThrown);
                },
            });
        });
    
    </script>
{% endblock body %}